.bestiary-navi {
  width: 100%;
  height: 100%;
  display: flex;
  div {
    & ul {
      background: transparent;
      display: flex;
      flex-flow: row wrap;
      padding: 0;
      align-items: center;
      justify-content: center;
      & li {
        width: 130px;
        height: 200px;
        display: flex;
        position: relative;
        margin: 1rem;
        border: solid 5px var(--primary);
        border-radius: 0.5rem;
        align-items: center;
        justify-content: center;
        filter: drop-shadow(0 0 0 var(--primary));
        contain: size layout;
        & a {
          display: flex;
          position: absolute;
          align-items: center;
          justify-content: center;
          & .ribbon {
            --s: 1em; /* the ribbon size */
            --d: .3em;  /* the depth */
            --c: .5em;  /* the cutout part */
            
            padding: 0 calc(var(--s) + .5em) var(--d);
            line-height: 1.8;
            background:
              conic-gradient(at left  var(--s) bottom var(--d),
               #0000 25%,#0008 0 37.5%,#0004 0) 0   /50% 100% no-repeat,
              conic-gradient(at right var(--s) bottom var(--d),
               #0004 62.5%,#0008 0 75%,#0000 0) 100%/50% 100% no-repeat;
            clip-path: polygon(0 var(--d), var(--s) var(--d),var(--s) 0,calc(100% - var(--s)) 0,calc(100% - var(--s)) var(--d),100% var(--d),calc(100% - var(--c)) calc(50% + var(--d)/2),100% 100%,calc(100% - var(--s) - var(--d)) 100%,calc(100% - var(--s) - var(--d)) calc(100% - var(--d)),calc(var(--s) + var(--d)) calc(100% - var(--d)),calc(var(--s) + var(--d)) 100%,0 100%,var(--c) calc(50% + var(--d)/2));
            background-color: var(--primary); /* the main color */
            width: max-content;
            font: 1rem var(--script-font);
            color: var(--third);
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            position: absolute;
            margin-top: 12rem;
          }
          & img {
            width: 150px;
            position: absolute;
          }
          &:hover {
            filter: blur(0);
            letter-spacing: 0;
          }
        }
        &:hover {
          filter: drop-shadow(1px 5px rgba(0, 0, 0, 0.3));
          transition: all 1s ease;
        }
      }
    }
  }
}

#creature-navi {
  & ul {
    & li {
      background: url(/resources/images/graphics/svg/creaturecard.svg)
      center/contain var(--secondary) no-repeat;
    }
  }
}

#flora-navi {
  & ul {
    & li {
      background: url(/resources/images/graphics/svg/plantcard.svg)
      center/contain var(--secondary) no-repeat;
    }
  }
}